#myTab {
    display: flex;
    justify-content: center;
    border: none;
}

.nav-tabs .nav-link {
    border: none;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}